{% extends 'base.html' %}

{% block content %}
    {{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
    <div class="flash {{ cat }}">{{ msg }}</div>
{% endfor %}

<form id='Form' action="{{ url_for('addTask') }}" method="post" class="form-contact">
<p><label>Название задания: </label><input type="text" name="task_name" value="" required />
<!-- Выбор отчета. Наименования выгружаются из БД -->
<p><label>Название отчета: </label><select type="text" name="report_name" id="" required>
    <option selected disabled>Название отчета</option>
    {% for obj in reports %}
    <option>{{ obj.filename }}</option>
    {% endfor %}
</select>

<!--<div id="includeContent"></div> -->

<p><input type="submit" value="Далее" />
</form>

<!-- Серия if/else JS-скрипта, отображающий блоки в зависимости от заполняемых полей отчета, действия и времени -->
<!--- <script type="text/javascript">
    Form.report_name.addEventListener('change', function(e) {
        if (e.target.value === 'test2')


    })
</script> -->
{% endblock %}
