{% extends 'base.html' %}

{% block content %}
    {{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
    <div class="flash {{ cat }}">{{ msg }}</div>
{% endfor %}
<div class="cntnt">
    <h3>Форма задачи: "{{ name }}".</h3>
<form action="" method="POST" class="form-contact">
{{ form.hidden_tag() }}
<p>{{ form.user.label() }} {{ form.user() }}</p>
<p>{{ form.usr_pass.label() }} {{ form.usr_pass() }}</p>
<p>{{ form.db_adress.label() }} {{ form.db_adress() }}</p>
<p>{{ form.db_login.label() }} {{ form.db_login() }}</p>
<p>{{ form.db_pass.label() }} {{ form.db_pass() }}</p>
<p>{{ form.db_name.label() }} {{ form.db_name() }}</p>
<p>{{ form.rp_descr.label() }} {{ form.rp_descr }}</p>
<p>{{ form.time_interval.label() }} {{ form.time_interval() }}</p>
<p>{{ form.dt_begin.label() }} {{ form.tm_begin() }} {{ form.dt_begin() }}</p>
<p>{{ form.dt_end.label() }} {{ form.tm_end() }} {{ form.dt_end() }}</p>
<input class="sbmt"{{ form.edit() }}
</form>
</div>
{% endblock %}