{% extends 'base.html' %}

{% block content %}
    {{ super() }}
<div class="cntnt">
<table>
    <colgroup>
        <col>
        <col>
        <col>
        <col>
        <col>
    </colgroup>
    <tr>
        <th>ИД</th>
        <th>Имя</th>
        <th>Время</th>
        <th>Информация</th>
        <th>Скачать</th>
    </tr>
    {% for temp in jobs %}
    <tr>
        <td>{{  temp.id  }}</td>
        <td>{{  temp.task_name  }}</td>
        <td>{{  temp.job_time  }}</td>
        <td>{{  temp.warning_obj  }}</td>
        <td> <a href="/upload/{{temp.id}}"><input type="submit" value="download" class="sbmt"/></a></td>
    </tr>
    {% endfor %}
</table>
</div>



{% endblock %}