<!--<p id="format_action" style="display: block"><label>Формат действия: </label><select  type="text" name="format_action" required>
    <option selected disabled>Формат отчета</option>
    <option>Один раз</option>
    <option>Ежедневно</option>
    <option>Интервал</option>
</select>
<p id="time_action" style="display: block"><label>Выполнить: </label><input type="date" name="time_action" /> <label> в :</label><input type="time" name="time_action" required/>




<p><input type="submit" value="Создать задачу" />--->

{{  file }}
